<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../style/header_footer_style.css"/>
    <link rel="stylesheet" href="../style/main_style.css"/>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato">
    <script src="../scripts/dropdown.js"></script>
    <title>About Us</title>
</head>
<body class="body">
<div class=wrapper>
    <div class="dropdown-wrapper">
        <h2 id="site_title">Hairway To Heaven</h2>
        <ul class="dropdown-parent">
            <li><a href="../index.html">Home</a>
            <li><a href="appointment.html" onmouseover="openMenu('menu1')" onmouseout="closeMenu()">Appointment</a>

                <div id="menu1" onmouseover="cancelCloseTime()" onmouseout="closeMenu()">
                    <a href="previouscuts.html"> Previous Cuts</a>
                    <a href="prices.html">Prices</a>
                </div>
            </li>
            <li><a href="about.html" onmouseover="openMenu('menu2')" onmouseout="closeMenu()">About </a>

                <div id="menu2" onmouseover="cancelCloseTime()" onmouseout="closeMenu()">
                    <a href="vision.html"> Vision </a>
                </div>
            </li>
            <li><a href="news.html" onmouseover="openMenu('menu3')" onmouseout="closeMenu()"> News </a>

                <div id="menu3" onmouseover="cancelCloseTime()" onmouseout="closeMenu()">
                    <a href="trends.html"> Trends </a>
                </div>
            <li><a href="work.html">Work</a></li>
        </ul>
    </div>

    <section id="about_content">
        <h1> Our Salons</h1>

        <p>We have exclusive salons in all the major cities in Norway</p>

        <div class="infoSaloon">
            <img src="../images/salons/salon3.jpg">

            <p>Hairway to Heaven Oslo</p>
            <adress>Address: Slottsplassen 1, 0010 Oslo</adress>
            <p>Phone: 973 85 93</p>
        </div>

        <div class="infoSaloon">
            <img src="../images/salons/salon2.jpg">

            <p>Hairway to Heaven Trondheim</p>
            <adress>Address: Bispegata 11, 7012 Trondheim</adress>
            <p>Phone: 973 85 93</p>
        </div>

        <br>

        <div class="infoSaloon">
            <img src="../images/salons/salon1.jpg">

            <p>Hairway to Heaven Stavanger</p>
            <adress>Address: Haakon VIIs gate 2, 4600 Stavanger</adress>
            <p>Phone: 973 85 93</p>
        </div>

        <div class="infoSaloon">
            <img src="../images/salons/salon5.jpg">

            <p>Hairway to Heaven Bergen</p>
            <adress>Address: Bryggen, 5003 Bergen</adress>
            <p>Phone: 973 85 93</p>
        </div>

    </section>
    <footer id="footer">
        <div class="follow_us">
            <i>Follow us</i>
            <br>
            <a href=""> <img class="social_images" src="../images/social_icons/facebook.png" alt="twitter logo"> </a>
            &nbsp;
            <a href=""><img class="social_images" src="../images/social_icons/insta.png" alt="twitter logo"></a>
            &nbsp;
            <a href=""><img class="social_images" src="../images/social_icons/twitter.png"
                            alt="twitter logo"></a></span>
        </div>
        <div class="subscribe">
            <i>Subscribe to newsletter</i>
            <br>
            <input type="text" name="email">
        </div>
        <br>
        <span style="font-size: 12pt">There is no such thing as a natural beauty</span>
        <hr width="30%">
        &copy; 2015 Hairway to Heaven / Created by Team Graphic
    </footer>
</div>
</body>
</html>