<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../style/style.css"/>
    <link href="http://fonts.googleapis.com/css?family=Lato&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <script src="../scripts/dropdown.js"></script>
    <script src="../scripts/validate.js"></script>
    <title>HairwayHeaven</title>
</head>
<body>
<div class= "dropdown-wrapper">
    <h2 id="site_title">Hairway To Heaven</h2>
    <ul class="dropdown-parent">
        <li><a href="../index.html">Home</a>
        <li><a href="appointment.html" onmouseover="openMenu('menu1')" onmouseout="closeMenu()">Appointment</a>
            <div id="menu1" onmouseover="cancelCloseTime()" onmouseout="closeMenu()">
                <a href="previouscuts.html"> Previous Cuts</a>
                <a href="prices.html">Prices</a>
            </div>
        </li>
        <li><a href="about.html" onmouseover="openMenu('menu2')" onmouseout="closeMenu()">About </a>
            <div id="menu2" onmouseover="cancelCloseTime()" onmouseout="closeMenu()">
                <a href="vision.html"> Vision </a>
            </div>
        </li>
        <li><a href="news.html" onmouseover="openMenu('menu3')" onmouseout="closeMenu()"> News </a>
            <div id="menu3" onmouseover="cancelCloseTime()" onmouseout="closeMenu()">
                <a href="trends.html"> Trends </a>
            </div>
        <li><a href="work.html">Work</a></li>
    </ul>
</div>
    <section id ="appointment_content">
        <h1>Book an appointment</h1>
        <form>
            <table>
                <tr>
                    <td><label>Name:</label></td><td><input type="text" name="name"></td>
                </tr>
                <tr>
                    <td><label>Phone:</label></td><td><input type="text" name="phone"></td>
                </tr>
                <tr>
                    <td><label>Email:</label></td><td><input type="email" name="email"></td>
                </tr>
                <tr>
                    <td><label>Saloon:</label></td>
                    <td><select name="saloon">
                        <option value="bakklandet">Bakklandet</option>
                        <option value="byaasen">Byåsen</option>
                        <option value="midtbyen">Midtbyen</option>
                        <option value="singsaker">Singsaker</option>
                    </select></td>
                </tr>
                <tr>
                    <td><label>Date:</label></td><td><input type="date" name="date"></td>
                </tr>
                <tr>
                    <td><label>Time:</label></td><td><input type="time" name="time"></td>
                </tr>
                <tr><td><label>Treatment:</label></td>
                    <td><select name="treatment">
                        <option value="1"></option>
                        <option value="1"></option>
                        <option value="1"></option>
                        <option value="1"></option>
                        <option value="1"></option>
                        <option value="1"></option>
                    </select></td>
                </tr>
                <tr>
                    <td></td>
                    <td><button type="button" name="submit_btn" onclick="submitButton()">Submit</button></td>
                </tr>

            </table>


        </form>
    </section>



    <footer id="footer">
        <span>Follow us on <a href="">Facebook</a> | <a href="">Instagram</a> | <a href="">Twitter</a></span><br>
        (C) 2015 Hairway to Heaven / Created by Team Graphic
    </footer>
</body>
</html>