<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../style/style.css"/>
    <script src="../scripts/dropdown.js"></script>
    <title>HairwayHeaven</title>
</head>

<body style="background: url(../images/hair.jpg) no-repeat; width: 100%; height: 100%; background-size: cover;">
<div class= "dropdown-wrapper">
    <h2 id="site_title">Hairway To Heaven</h2>
    <ul class="dropdown-parent">
        <li><a href="../index.html">Home</a>
        <li><a href="appointment.html" onmouseover="openMenu('menu1')" onmouseout="closeMenu()">Appointment</a>
            <div id="menu1" onmouseover="cancelCloseTime()" onmouseout="closeMenu()">
                <a href="previouscuts.html"> Previous Cuts</a>
                <a href="#">Element2</a>
                <a href="#">Element3</a>
            </div>
        </li>
        <li><a href="about.html" onmouseover="openMenu('menu2')" onmouseout="closeMenu()">About </a>
            <div id="menu2" onmouseover="cancelCloseTime()" onmouseout="closeMenu()">
                <a href="vision.html"> Vision </a>
                <a href="#">Element2</a>
                <a href="#">Element3</a>
            </div>
        </li>
        <li><a href="news.html">News</a></li>
        <li><a href="work.html">Work</a></li>
    </ul>
</div>
		<h1>Hollywood News</h1>
		<p>This page will have gossip about the latest hair trends in Hollywood, and the life og major players in the celebrity hair game</p>
	</body>
<footer id="footer">
    <span>Follow us on <a href="">Facebook</a> | <a href="">Instagram</a> | <a href="">Twitter</a></span><br>
        (C) 2015 Hairway to Heaven / Created by Team Graphic
 </footer>
</html>