<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../style/style.css"/>
    <link href="http://fonts.googleapis.com/css?family=Lato&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <script src="../scripts/dropdown.js"></script>
    <title>HairwayHeaven</title>
</head>
<body>
<div class= "dropdown-wrapper">
    <h2 id="site_title">Hairway To Heaven</h2>
    <ul class="dropdown-parent">
        <li><a href="../index.html">Home</a>
        <li><a href="appointment.html" onmouseover="openMenu('menu1')" onmouseout="closeMenu()">Appointment</a>
            <div id="menu1" onmouseover="cancelCloseTime()" onmouseout="closeMenu()">
                <a href="previouscuts.html"> Previous Cuts</a>
                <a href="#">Element2</a>
                <a href="#">Element3</a>
            </div>
        </li>
        <li><a href="about.html" onmouseover="openMenu('menu2')" onmouseout="closeMenu()">About </a>
            <div id="menu2" onmouseover="cancelCloseTime()" onmouseout="closeMenu()">
                <a href="vision.html"> Vision </a>
                <a href="#">Element2</a>
                <a href="#">Element3</a>
            </div>
        </li>
        <li><a href="news.html">News</a></li>
        <li><a href="work.html">Work</a></li>
    </ul>
</div>
        <h3>News</h3>
        
        <p>News will consist of images and text showing of the latest and freshest products and services Hairway to Heaven has to offer. Compared to hollywood trends this page will try and convince the users that they should come and buy what is presented. It will also be updated regularly with new discount offers. In the future we hope to make some income on advertisements on different hair products. The advertisements will be small and be located on both sides of the page. We will only advertise for products that we find exceptionally good. All the advertisements will be part of an image carousel and each advertisement will be visible for five seconds at the time.
        </p>
        
        <footer id="footer">
            <span>Follow us on <a href="">Facebook</a> | <a href="">Instagram</a> | <a href="">Twitter</a></span><br>
            (C) 2015 Hairway to Heaven / Created by Team Graphic
        </footer>
    </body>
</html>