<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../style/style.css"/>
    <link href="http://fonts.googleapis.com/css?family=Lato&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <script src="../scripts/dropdown.js"></script>
    <meta charset="utf-8" />
    <title>HairwayHeaven</title>
</head>
<body>
<div class= "dropdown-wrapper">
    <h2 id="site_title">Hairway To Heaven</h2>
    <ul class="dropdown-parent">
        <li><a href="../index.html">Home</a>
        <li><a href="appointment.html" onmouseover="openMenu('menu1')" onmouseout="closeMenu()">Appointment</a>
            <div id="menu1" onmouseover="cancelCloseTime()" onmouseout="closeMenu()">
                <a href="previouscuts.html"> Previous Cuts</a>
                <a href="#">Element2</a>
                <a href="#">Element3</a>
            </div>
        </li>
        <li><a href="about.html" onmouseover="openMenu('menu2')" onmouseout="closeMenu()">About </a>
            <div id="menu2" onmouseover="cancelCloseTime()" onmouseout="closeMenu()">
                <a href="vision.html"> Vision </a>
                <a href="#">Element2</a>
                <a href="#">Element3</a>
            </div>
        </li>
        <li><a href="trends.html">News</a></li>
        <li><a href="work.html">Work</a></li>
    </ul>
</div>
        
        <p>
            Here users can see a gallery of haircuts done at Hairway to Heaven. The page will consist of circle images with a small information text below. Users will be able to click the image to see a larger version. The hope is that this can help users choose a look if they aren’t sure about what they want. All of Hairway to Heaven's hairdressers will be able to copy the cuts found here. We believe it is important for the customer to see what we can offer. The images will be approximately 16% in diameter, and there will be three in a row. The look and feel here should be similar to the one in about.html to create a consistent look and feel. Under the picture there will be a small description, but it should not exceed 3-4 lines.
        </p>
        
        <footer id="footer">
            <span>Follow us on <a href="">Facebook</a> | <a href="">Instagram</a> | <a href="">Twitter</a></span><br>
            (C) 2015 Hairway to Heaven / Created by Team Graphic
        </footer>
    </body>
</html>