<!DOCTYPE html>
<!--
FILE NAME: templates/previouscuts.html
WRITTEN BY: Everyone
WHEN: October 2015
PURPOSE: Shows a gallery of previous haircuts done at H2H
-->
<html>
<head>
    <link rel="stylesheet" href="../style/header_footer_style.css"/>
    <link rel="stylesheet" href="../style/main_style.css"/>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato">
    <script src="../scripts/dropdown.js"></script>
    <script src="../scripts/height.js"></script>
    <script src="../scripts/phrase.js"></script>
    <meta charset="utf-8"/>
    <title>Previous Cuts</title>
</head>
<body class = "body">
<div class = wrapper>
    <div class= "dropdown-wrapper">
        <h2 id="site_title">Hairway To Heaven</h2>
        <ul class="dropdown-parent">
            <li><a href="../index.html">Home</a>
            <li><a href="appointment.html" onmouseover="openMenu('menu1')" onmouseout="closeMenu()">Appointment</a>
                <div id="menu1" onmouseover="cancelCloseTime()" onmouseout="closeMenu()">
                    <a href="previouscuts.html"> Previous Cuts</a>
                    <a href="prices.html">Prices</a>
                </div>
            </li>
            <li><a href="about.html" onmouseover="openMenu('menu2')" onmouseout="closeMenu()">About </a>
                <div id="menu2" onmouseover="cancelCloseTime()" onmouseout="closeMenu()">
                    <a href="vision.html"> Vision </a>
                </div>
            </li>
            <li><a href="news.html" onmouseover="openMenu('menu3')" onmouseout="closeMenu()"> News </a>
                <div id="menu3" onmouseover="cancelCloseTime()" onmouseout="closeMenu()">
                    <a href="trends.html"> Trends </a>
                </div>
            <li><a href="work.html">Work</a></li>
        </ul>
    </div>
<section id="previouscuts_content">
    </br></br></br></br>
    <img class="previousCutsImages" src="../haircuts/1-trendy-Hairstyles-For-mens-1.png" alt= "VIP CUT"/>
    </br></br>
    <div class="previousCuts">
        <p>Elegant haircut. This style works for anything from a night out at VIP lounges to weddings. </br></br>If you want to pop champagne bottles all night or enjoy Cuban cigars while studying, this is the look.
    </div>
    </br></br>
    
    <img class="previousCutsImages" src="../haircuts/brad-pitt-mens-long-haircut.png" alt="brad pitt"/>
        </br></br>
    <div class="previousCuts">
            <p>If you're a single middle-aged man living the rockstar life, you will love this look. </br></br>
            You'll look like a rockstar while maintaining the upperclass status.</p>
    </div>
    </br></br>
    <img class="previousCutsImages" src="../haircuts/Cool-Summer-Haircut-for-Men.png" alt="beach cut"/>
        </br></br>
    <div class="previousCuts">
        <p>Do you live on the coast? This summercut will make you the <em><b>single most attractive man</b></em> on the whole beach.
    </div>
    </br></br>
    <img class="previousCutsImages" src="../haircuts/Mad-Men-Hairstyles-for-Men-.png" alt="madmen cut"/>
        </br></br>
    <div class="previousCuts">
            <p>Mad Men. We're guessing you're one of the partners at your firm. In that case, this is the look for you</p>
    </div>
    </br></br>
    <img class="previousCutsImages" src="../haircuts/men-Caesar-Haircut-style.png" alt="gym cut"/>
        </br></br>
    <div class="previousCuts">
        <p>Personal trainer or not, this is the falls hottest haircut. All the girls at your country clubs gym will turn their heads for you.</p>
    </div>
    </br></br>
    <img class="previousCutsImages" src="../haircuts/New-Modern-Mens-Hairstyles-2015-4.png" alt="pimp cut"/>
        </br></br>
    <div class="previousCuts">
        <p>Perfect cut for the legit pimp</p>
    </div>
    </br></br>
    
    <img class="previousCutsImages" src="../haircuts/f6d27b9c3758411dc3a897e89274554e.jpg" alt="diva haircut" alt="diva cut"/>
    </br></br>
    <div class="previousCuts">
        <p>Perfect cut for the legit diva</p>
    </div>
    
    </br></br>
    
    <img class="previousCutsImages" src="../haircuts/c3eabb61b114056054b12abb05e8b334.jpg" alt="low maintenance cut"/>
    </br></br>
    <div class="previousCuts">
        <p>If you like haircuts that are low maintenance, this is it.</p>
    </div>
    </br></br>
</section>
    <footer id="footer">
        <div class="follow_us">
            <i>Follow us</i>
            <br>
            <a href=""> <img class="social_images" src="../images/social_icons/facebook.png" alt="twitter logo"> </a>
            &nbsp;
            <a href=""><img class="social_images"  src="../images/social_icons/insta.png" alt="twitter logo"></a>
            &nbsp;
            <a href=""><img class="social_images"  src="../images/social_icons/twitter.png" alt="twitter logo"></a>
        </div>
        <div class="contact">
            <ul>
                <li><address><a href="https://maps.google.com/?q=58250%20Slottsplassen%201,%200010%20Oslo" target="_blank">Slottsplassen 1, 0010 Oslo</a></address></li>
                <li>+47 973 85 93</li>
                <li><a href="mailto:support@hairway.com?Subject=Hello" target="_top">support@hairway.com</a></li>
            </ul>
        </div>
        <div id ="phrase_div">
            <br>
            <span id="phrase" style="font-size: 12pt">There is no such thing as natural beauty</span>
            <hr>
            &copy; 2015 Hairway to Heaven / Created by Team Graphic
        </div>
    </footer>
    </div>
    </body>
</html>