<!--
FILE NAME: templates/prices.html
WRITTEN BY: Everyone
WHEN: October 2015
PURPOSE: Show users a list of prices
-->
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../style/header_footer_style.css"/>
	<link rel="stylesheet" href="../style/main_style.css"/>
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato">
	<script src="../scripts/dropdown.js"></script>
	<script src="../scripts/height.js"></script>
	 <meta charset="utf-8" />
	<title>Prices</title>
</head>
<body class = "body">
<div class="wrapper">
<div class= "dropdown-wrapper">
	<h2 id="site_title">Hairway To Heaven</h2>
	<ul class="dropdown-parent">
		<li><a href="../index.html">Home</a>
		<li><a href="appointment.html" onmouseover="openMenu('menu1')" onmouseout="closeMenu()">Appointment</a>
			<div id="menu1" onmouseover="cancelCloseTime()" onmouseout="closeMenu()">
				<a href="previouscuts.html"> Previous Cuts</a>
				<a href="prices.html">Prices</a>
			</div>
		</li>
		<li><a href="about.html" onmouseover="openMenu('menu2')" onmouseout="closeMenu()">About </a>
			<div id="menu2" onmouseover="cancelCloseTime()" onmouseout="closeMenu()">
				<a href="vision.html"> Vision </a>
			</div>
		</li>
		<li><a href="news.html" onmouseover="openMenu('menu3')" onmouseout="closeMenu()"> News </a>
			<div id="menu3" onmouseover="cancelCloseTime()" onmouseout="closeMenu()">
				<a href="trends.html"> Trends </a>
			</div>
		<li><a href="work.html">Work</a></li>
	</ul>
</div>
	<section id="prices_section">
		<table class="pricetable">
			<thead>
			<tr>
				<th>Treatment</th>
				<th>Description</th>
				<th>Price</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>&nbsp;Haircut<br>Bronze</td>
				<td>&nbsp;A nice and haircut to make you feel like a new person</td>
				<td>&nbsp;900,-</td>
			</tr>
			<tr>
				<td>&nbsp;Haircut Silver</td>
				<td>&nbsp;A nice haircut from one of our experienced haircutters. You also get a cup of coffee and a biscuit</td>
				<td>&nbsp;1200,-</td>
			</tr>
			<tr>
				<td>&nbsp;Haircut Gold</td>
				<td>&nbsp;The same as our haircut silver treatment, as well as even faster service</td>
				<td>&nbsp;1500,-</td>
			</tr>
			<tr>
				<td>&nbsp;Haircut Platinum</td>
				<td>&nbsp;A haircut from the most experienced hairdresse in the salon, with access to the private lounge</td>
				<td>&nbsp;3000,-</td>
			</tr>
			<tr>
				<td>&nbsp;Styling</td>
				<td>&nbsp;Are you going out tonigth? Or do you just want to look good? We have the styling for you.</td>
				<td>&nbsp;1500,-</td>
			</tr>
			<tr>
				<td>&nbsp;Wedding styling</td>
				<td>&nbsp;This styling hour makes you the most bautiful bride ever seen</td>
				<td>&nbsp;5000,-</td>
			</tr>
			</tbody>
		</table>
		
		<br>
		Children, seniors and students get 25% discount
		<br><br>
		<section id="text-price">
		Hairway to Heaven is a is a nationwide hairdressing chain, and this makes our prices vary slightly depending on the salon you use. Hairway to Heaven have competitive prices per address. All prices given for haircut and styling is the starting prices. We therefore advise you to take directly contact with your <a href="about.html"> local hair salon </a> for consultation and prices. To book an appointment, click on <a href="appointment.html"> this link. </a>
	</section>
	</section>
    <br/><br/><br/>
<footer id="footer">
	<div class="follow_us">
		<i>Follow us</i>
		<br>
		<a href=""> <img class="social_images" src="../images/social_icons/facebook.png" alt="twitter logo"> </a>
		&nbsp;
		<a href=""><img class="social_images"  src="../images/social_icons/insta.png" alt="twitter logo"></a>
		&nbsp;
		<a href=""><img class="social_images"  src="../images/social_icons/twitter.png" alt="twitter logo"></a></span>
	</div>
	<div class="subscribe">
		<i>Subscribe to newsletter</i>
		<br>
		<input type="text" name="email">
	</div>
	<br>
	<span style="font-size: 12pt">There is no such thing as a natural beauty</span>
	<hr width="30%">
	&copy; 2015 Hairway to Heaven / Created by Team Graphic
</footer>
	</div>
</body>
</html>
		