<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="../style/style.css"/>
    <link href="http://fonts.googleapis.com/css?family=Lato&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <script src="../scripts/dropdown.js"></script>
    <title>HairwayHeaven</title>
</head>
<body>
<div class= "dropdown-wrapper">
    <h2 id="site_title">Hairway To Heaven</h2>
    <ul class="dropdown-parent">
        <li><a href="../index.html">Home</a>
        <li><a href="appointment.html" onmouseover="openMenu('menu1')" onmouseout="closeMenu()">Appointment</a>
            <div id="menu1" onmouseover="cancelCloseTime()" onmouseout="closeMenu()">
                <a href="previouscuts.html"> Previous Cuts</a>
                <a href="prices.html">Prices</a>
            </div>
        </li>
        <li><a href="about.html" onmouseover="openMenu('menu2')" onmouseout="closeMenu()">About </a>
            <div id="menu2" onmouseover="cancelCloseTime()" onmouseout="closeMenu()">
                <a href="vision.html"> Vision </a>
            </div>
        </li>
        <li><a href="news.html" onmouseover="openMenu('menu3')" onmouseout="closeMenu()"> News </a>
            <div id="menu3" onmouseover="cancelCloseTime()" onmouseout="closeMenu()">
                <a href="trends.html"> Trends </a>
            </div>
        <li><a href="work.html">Work</a></li>
    </ul>
</div>
    <section id="trends_content">
        <br>
		<h1>Hollywood News</h1>
		<p>This page will have gossip about the latest hair trends in Hollywood, and the life og major players in the celebrity hair game</p>
    </section>

<footer id="footer">
    <div class="follow_us">
        <i>Follow us</i>
        <br>
        <a href=""> <img class="social_images" src="../images/social_icons/facebook.png" alt="twitter logo"> </a>
        &nbsp;
        <a href=""><img class="social_images"  src="../images/social_icons/insta.png" alt="twitter logo"></a>
        &nbsp;
        <a href=""><img class="social_images"  src="../images/social_icons/twitter.png" alt="twitter logo"></a></span>
    </div>
    <div class="subscribe">
        <i>Subscribe to newsletter</i>
        <br>
        <input type="text" name="email">
    </div>
    <br>
    <span style="font-size: 12pt">There is no such thing as a natural beauty</span>
    <hr width="30%">
    &copy; 2015 Hairway to Heaven / Created by Team Graphic
</footer>
</body>
</html>