<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../style/header_footer_style.css"/>
        <link rel="stylesheet" href="../style/main_style.css"/>
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato">
        <script src="../scripts/dropdown.js"></script>
            <title>HairwayHeaven</title>
    </head>
    <body class = "body">
    <div class= "dropdown-wrapper">
        <h2 id="site_title">Hairway To Heaven</h2>
        <ul class="dropdown-parent">
            <li><a href="../index.html">Home</a>
            <li><a href="appointment.html" onmouseover="openMenu('menu1')" onmouseout="closeMenu()">Appointment</a>
                <div id="menu1" onmouseover="cancelCloseTime()" onmouseout="closeMenu()">
                    <a href="previouscuts.html"> Previous Cuts</a>
                    <a href="prices.html">Prices</a>
                </div>
            </li>
            <li><a href="about.html" onmouseover="openMenu('menu2')" onmouseout="closeMenu()">About </a>
                <div id="menu2" onmouseover="cancelCloseTime()" onmouseout="closeMenu()">
                    <a href="vision.html"> Vision </a>
                </div>
            </li>
            <li><a href="news.html" onmouseover="openMenu('menu3')" onmouseout="closeMenu()"> News </a>
                <div id="menu3" onmouseover="cancelCloseTime()" onmouseout="closeMenu()">
                    <a href="trends.html"> Trends </a>
                </div>
            <li><a href="work.html">Work</a></li>
        </ul>
    </div>
    <section id = "work_content">
        <p>
        Here potential new employees will be able to find more information about available positions at Hairway to Heaven. The page will outline what kind of employees the salon wants, and where they need new workers. The page will contain a button to download an application form in pdf format. The description will be in text format, mainly to give Hairway to Heaven the ability to properly explained what they want from a potential employee (more so than a table can provide). It is also the hope that a potential employee will find the text inspiring so that Hairway to Heaven can attract the best possible hairdressers.
        </p>
    </section>
    <footer id="footer">
        <div class="follow_us">
            <i>Follow us</i>
            <br>
            <a href=""> <img class="social_images" src="../images/social_icons/facebook.png" alt="twitter logo"> </a>
            &nbsp;
            <a href=""><img class="social_images"  src="../images/social_icons/insta.png" alt="twitter logo"></a>
            &nbsp;
            <a href=""><img class="social_images"  src="../images/social_icons/twitter.png" alt="twitter logo"></a></span>
        </div>
        <div class="subscribe">
            <i>Subscribe to newsletter</i>
            <br>
            <input type="text" name="email">
        </div>
        <br>
        <span style="font-size: 12pt">There is no such thing as a natural beauty</span>
        <hr width="30%">
        &copy; 2015 Hairway to Heaven / Created by Team Graphic
    </footer>
    </body>
</html>