html, body {
    margin: 0px;
    padding: 0px;
    font-family: Lato, sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #232525;

}

/* START DROPDOWN MENU */
#site_title {
    padding: 0px;
    margin: 15px 0px 0px 15px;
    color: white;
    text-align: left;
}

.dropdown-wrapper{
    overflow: hidden;
    background-color: #41555f;
    width: 100%;
    height: 110px;
    box-shadow: 0px 0px 20px #000000;
    opacity: 0.9;
    text-align: center;
}
.dropdown-wrapper ul {
    height: 50px;
    line-height: 315%;
}

.dropdown-parent li {
    overflow: hidden;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #41555f;
    width: 200px;
    display: inline-block;
    list-style: none;
    text-align: center;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.dropdown-parent li a {
    display:block;
    color: #FFF;
    font-size: 15pt;
    text-align: center;
    text-decoration: none;

}
.dropdown-parent div {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    position: absolute;
    visibility: hidden;
    width: inherit;
    margin: 0;
    padding: 0px;
    background-color: #41555f;
}

.dropdown-parent div a {
    display: block;
    margin: 0;
    padding: 5px 10px;
    line-height: 200%;
    text-align: center;
    text-decoration: none;
    color: white;
}

.dropdown-parent li:hover {
    background-color: rgba(255, 255, 255, 0.19);
}

.dropdown-parent div a:hover {
    background-color: rgba(255, 255, 255, 0.19);
}


@media screen and (max-width: 1045px) {
    .dropdown-parent li {
        width: 150px;
    }

}

@media screen and (max-width: 800px) {
    .dropdown-parent li {
        width: 100px;
    }
    .dropdown-parent li a {
        font-size: 13pt;
    }
    .dropdown-parent div a {
        font-size: 13pt;
    }
}

@media screen and (max-width: 546px) {
    .dropdown-parent li {
        width: 70px;
    }
    .dropdown-parent li a {
        font-size: 8pt;
    }

    .dropdown-parent div a {
        font-size: 8pt;
    }
}

/* END DROPDOWN MENU */


/* START FOOTER*/

#footer {
    overflow: hidden;
    position: absolute;
    bottom: 0px;
    background-color: #41555f;
    color: white;
    width: 100%;
    height: 85px;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 160%;
    font-size: 10pt;
    opacity: 0.9;
    box-shadow: 0px 0px 20px #000000;
}

.social_images{
    width: 30px;
    height: 30px;
}

.follow_us{
    font-size: 12pt;
    float: right;
    padding-top: 10px;
    padding-right: 70px;
    margin: 0px;
    line-height: 200%;
}
.contact ul {
    float: left;
    margin: 0px;
    padding-top: 20px;
    padding-left: 30px;
    list-style: none;
    text-align: left;
    font-size: 9pt;
    line-height: 140%;
}
#phrase_div{
    text-align: center;
}


@media screen and (max-width: 650px) {
    #phrase_div{
        visibility: hidden;

    }

    .follow_us{
        font-size: 10pt;
    }
    .social_images{
        width: 25px;
        height: 25px;
    }

    .contact ul {
        font-size: 8pt;
    }

}
.contact a:hover{
    background-color: rgba(255, 255, 255, 0.19);
}

#footer a {
    color: white;
    text-decoration: none;
}

#footer span {
    font-size: 120%;
}
/* END FOOTER*/
