html, body {
    margin: 0px;
    padding: 0px;
    font-family: Lato, sans-serif;

}

.wrapper{
    min-height: 100%;
    position: relative;
    background-color: #dcdcdc;
    height: 100%;
}

/* START DROPDOWN MENU */
#site_title {
    padding: 0px;
    margin: 15px 0px 0px 15px;
    color: white;
    text-align: left;
}

.dropdown-wrapper{
    overflow: hidden;
    background-color: #41555f;
    width: 100%;
    height: 110px;
    box-shadow: 0px 0px 20px #000000;
    opacity: 0.9;
    text-align: center;
}
.dropdown-wrapper ul {
    height: 50px;
    line-height: 315%;
}

.dropdown-parent li {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #41555f;
    width: 200px;
    display: inline-block;
    list-style: none;
    text-align: center;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
  }

.dropdown-parent li a {
    display: block;
    width: inherit;
    color: #FFF;
    font-size: 15pt;
    text-align: center;
    text-decoration: none;

}
.dropdown-parent div {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    width: inherit;
    position: absolute;
    visibility: hidden;
    margin: 0;
    padding: 0px;
    background-color: #41555f;
}

.dropdown-parent div a {
    position: relative;
    display: block;
    margin: 0;
    padding: 5px 10px;
    width: auto;
    line-height: 200%;
    text-align: center;
    text-decoration: none;
    color: white;
}

.dropdown-parent li:hover {
    background-color: rgba(255, 255, 255, 0.19)
}

.dropdown-parent div a:hover {
    background-color: rgba(255, 255, 255, 0.19)
}

/* END DROPDOWN MENU */


/* START FOOTER*/

#footer {
    overflow: hidden;
    background-color: #41555f;
    color: white;
    width: 100%;
    height: 7%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    line-height: 160%;
    position: absolute;
    bottom:0;
    font-size: 10pt;
    opacity: 0.9;
    box-shadow: 0px 0px 20px #000000;
}

#footer a {
    color: white;
}

#footer span {
    font-size: 120%;
}
/* END FOOTER*/



#photoText{
    float: right;
    padding-right: 100px;
    color: white;
    font-size: 25px;
    text-align: left;
}

.infoSaloon{
	width: 500px;
	height: 500px;
	text-align: center;
	display: inline-block;
    line-height: 10px;
    padding-bottom: 60px;
}

.infoSaloon img{
    border: 1px solid black;
	width: 90%;
	height: 70%;
	border-radius: 10px;
	box-shadow: 0px 0px 5px #000000;
}


/* START prices.html*/
#prices_section{
    text-align: center;
    color: #585858;
}

.pricetable {
	width:70%;
	height:80%;
	border:1px solid;
	border-collapse:collapse;
	padding:5px;
	margin-left: auto;
	margin-right: auto;
}
.pricetable th {
	border:1px solid;
	padding:5px;
	background:#FFFFFF;
}
.pricetable td {
	border:1px solid;
	text-align:center;
	padding:5px;
}

#prices_section {
	width: 100%;
	height: 80%;
	padding: 20px;
	font-family: Lato, sans-serif;
	text-align: center;
}
/* END prices.html*/

/* START work.html*/
#work_content{
    text-align: center;
    margin: 40px;
    color: #585858;
}
/* END work.html*/


/* START vison.html*/
#vision_content{
    text-align: center;
    margin: 40px;
    color: #585858;
}
/* END vision.html*/


/* START about.html*/
#about_content{
    text-align: center;
    margin: 40px;
    color: #585858;
}
/* END about.html*/


/* START trends.html*/
#trends_content{
    text-align: center;
    margin: 40px;
    color: #585858;
}
/* END trends.html*/


/* START appointment.html*/
#appointment_content{
    text-align: center;
    margin: 40px;
    color: #585858;
}
/* END appointment.html*/

/* START news.html*/
#news_content{
    text-align: center;
    margin: 40px;
    color: #585858;
}
/* END news.html*/

/* START previouscuts.html*/
#previouscuts_content{
    text-align: center;
    margin: 40px;
    color: #585858;
}
/* END previouscuts.html*/

