html, body {
    margin: 0px;
    padding: 0px;
}

#header {
    font-family: Lato, sans-serif;
    width: 100%;
    height: 100px;
    margin: 0px;
    padding: 0px;
    background-color: #41555f;
}

#site_title {
    color: white;
    margin-left: 20px;
    padding-top: 20px;
}

#dropdown_menu .major_elements{
    color: white;
    display: inline;
    list-style-type: none;
    float: left;
    padding-right: 90px;
    text-align: center;
}

.major_elements .minor_elements {
    color: white;
    display: none;
    list-style-type: none;
    float: left;
    padding-right: 90px;
    text-align: center;
}

.major_elements:hover .minor_elements{
    color: white;
    position: absolute;
    display: inline;
    list-style-type: none;
    float: left;
    margin-left: -60px;
    text-align: center;
}

<<<<<<< HEAD

=======
>>>>>>> b9dadc78529dde75d66b202eb146a17abc1a8696
.textfrontpage{
	color: white;
	font-size: 35px;
	text-align: left;
	padding-left: 68%;
	padding-top: 15%;
	z-position: 1;
	position: relative;
}


#frontpagephoto{
	position: absolute;
}

.infoSaloon{
	width: 500px;
	height: 500px;
	text-align: center;
	display: inline-block;
}

.infoSaloon img{
	width: 70%;
	height: 60%;
	border-radius: 50%;
	box-shadow: 0px 0px 20px #000000;

}


#footer {
	background-color: #41555f;
	color: white;
	font-family: Lato, sans-serif;
	width: 100%;
	height: 7%;
	text-align: center;
	padding: 20px;
	line-height: 160%;
	font-size: 110%;
}

#footer a {
	color: white;
}

#footer span {
	font-size: 120%;
}
<<<<<<< HEAD

=======
>>>>>>> b9dadc78529dde75d66b202eb146a17abc1a8696
