body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

#header {
    overflow: hidden;
    font-family: Lato, sans-serif;
    width: 100%;
    height: 130px;
    margin: 0px;
    padding: 0px;
    background-color: #41555f;
    opacity: 0.9;
    box-shadow: 0px 0px 20px #000000;
}

#site_title {
    color: white;
    margin-left: 20px;
    padding-top: 20px;
}

#dropdown_menu .major_elements{
    color: white;
    display: inline;
    list-style-type: none;
    float: left;
    padding-right: 90px;
    text-align: center;
}

.major_elements .minor_elements {
    color: white;
    display: none;
    list-style-type: none;
    float: left;
    padding-right: 90px;
    text-align: center;
}

.major_elements:hover .minor_elements{
    color: white;
    position: absolute;
    display: inline;
    list-style-type: none;
    float: left;
    margin-left: -60px;
    text-align: center;
}


#photoText{
    position:  absolute;
    top: 150px;
    right: 100px;
    color: white;
    font-size: 25px;
    text-align: left;
}

.infoSaloon{
	width: 500px;
	height: 500px;
	text-align: center;
	display: inline-block;
}

.infoSaloon img{
	width: 70%;
	height: 60%;
	border-radius: 50%;
	box-shadow: 0px 0px 20px #000000;

}

#footer {
	background-color: #41555f;
	color: white;
	font-family: Lato, sans-serif;
	width: 100%;
	height: 7%;
	text-align: center;
	padding: 20px;
	line-height: 160%;
	font-size: 110%;
    bottom: 0px;
    position: absolute;
    opacity: 0.8;
    box-shadow: 0px 0px 20px #000000;
}

#footer a {
	color: white;
}

#footer span {
	font-size: 120%;
}
